<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/manual_adaptive_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Billmate"
        tools:targetApi="tiramisu">
        <activity
            android:name=".activitys.editItems.EditFundsActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_funds"
            android:theme="@style/Theme.Billmate" />
        <activity
            android:name=".activitys.editItems.EditTransfersActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.editItems.EditEventsActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.newItems.CreateNewCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.newItems.CreateNewEventsActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.newItems.CreateNewFundActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.getFilesActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Billmate">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />



    </application>

</manifest>